body{
    display:flex;
    align-items: center;
    justify-content: center;
    margin-top:150px;
    background-color:gray;
}
.main{
    width:230px;
    background: black;
    border-radius: 7px;
    padding:15px;
    display:flex;
    flex-wrap: wrap;
}
h1{
    color: white;
    margin-bottom: 5px;
}
#display{
    width: 100%;
    height:35px;
    padding:7px;
}
.btn{
    width: 50px;
    height:50px;
    border-radius:50px;
    margin-top: 10px;
    justify-content: space-between;
    justify-content:space-around;
    margin-bottom: 10px;
}
.btn:hover{
    background-color:darkturquoise;
}